body {
  background: black;
  font-family: "Oswald", sans-serif;
}

.name-container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
}

.med-container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 65%;
  left: 50%;
  z-index: 100;
  white-space: nowrap;
}
@media (max-width: 800px) {
  .med-container {
    white-space: normal;
  }
}

.med {
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 20%;
  width: 35px;
  animation: glitch 5s 5s infinite;
}

.about-me-container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 65em;
  left: 50%;
  z-index: 100;
}

.projects-container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 130em;
  left: 50%;
}

.awards-container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 195em;
  left: 50%;
}

.chall-container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 260em;
  left: 50%;
  z-index: 99;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(128, 128, 128, 0.5);
}

.glitch, .glow {
  color: rgb(223, 191, 191);
  position: relative;
  font-size: 9vw;
}

.glitch::before, .glow::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: -5px 0 magenta;
  background: black;
  overflow: hidden;
  top: 0;
}

.glitch::after, .glow::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -5px 0 lightgreen;
  background: black;
  overflow: hidden;
  top: 0;
}

.scanlines {
  overflow: hidden;
  mix-blend-mode: difference;
}

.scanlines::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 300em;
  top: 0;
  left: 0;
  background: repeating-linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.05) 0.1%, transparent 0.2%);
  animation: fudge 7s ease-in-out alternate infinite;
}

@keyframes fudge {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 0.04%);
  }
}
.glow {
  text-shadow: 0 0 1000px rgb(223, 191, 191);
  color: transparent;
  position: absolute;
  top: 0;
}

.subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 0.8vw;
  color: rgba(165, 141, 141, 0.8);
  text-transform: uppercase;
  letter-spacing: 1em;
  text-align: center;
  position: absolute;
  left: 20%;
  animation: glitch-2 5s 5.02s infinite;
}

@keyframes glitch-2 {
  1% {
    transform: rotateX(10deg) skewX(70deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}
.pole {
  color: #fff;
  font-size: 6vw;
  font-family: "Source Code Pro", "Nanum Gothic Coding";
  font-weight: 700;
}

.subpole {
  color: whitesmoke;
  font-size: calc(20px + 25%);
  font-family: "Source Code Pro", "Nanum Gothic Coding";
  font-weight: 300;
}

.challenge-box {
  position: absolute;
  margin-top: 3.5em;
  transform: translate(-50%, -50%);
  left: 50%;
  background-color: #111;
  border: 2px solid limegreen;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.flag-input {
  background-color: #222;
  color: limegreen;
  border: 1px solid limegreen;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  width: calc(100% - 100px);
  outline: none;
  font-family: "Inconsolata";
}

.flag-input::placeholder {
  color: #555;
  font-family: "Inconsolata";
}

.submit-button {
  background-color: limegreen;
  color: black;
  border: limegreen;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  transition: background-color 0.3s ease;
  font-family: "Inconsolata";
}

.submit-button:hover {
  background-color: #0f0;
}

/*# sourceMappingURL=index_styles.css.map */
