/*
White Space Area
*/

body {
    background-color: #ffffff;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@keyframes fancy-logo-line-transform {
    100% { width: 55% }
}

.fancy-logo-line {
    opacity: 100%;
    width: 0%;
    height: 3px;
    background-color: black;
    position: absolute;
    top: 214px;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fancy-logo-line-transform 1.4s forwards;
}

@keyframes wane-transition {
    0% { opacity: 0%; left: 50% }
    25% { opacity: 0%; }
    50% { opacity: 100%; }
    75% { top: 40%; }
    100% { top: 80px; }
}

.wane {
    opacity: 100%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    font-size: 120px;
    font-family: 'OMORI_GAME';
    animation: wane-transition 3.5s forwards;
}

@keyframes bulb-what-fade {
    30% { opacity: 0%; }
    100% { opacity: 100%; }
}

@keyframes bulb-down-transition {
    0% { top: 400px; animation-timing-function: ease-out; }
    100% { top: 650px; animation-timing-function: linear;}
}

.bulb-down {
    width: 50px;
    height: auto;
    top: 400px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: none;
    animation: bulb-down-transition 0.3s forwards;
}

.line {
    width: 50px;
    height: auto;
    position: absolute;
    top: 290px;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: bulb-what-fade 2.5s forwards;
    opacity: 0%;
}

.bulb {
    width: 50px;
    height: auto;
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: bulb-what-fade 2.5s forwards;
    opacity: 0%;
}

@keyframes floor-fade {
    50% { opacity: 0%; }
    100% { opacity: 100%; }
}

.floor {
    width: 400px;
    height: auto;
    position: absolute;
    top: 700px;
    left: 49.5%;
    opacity: 0%;
    transform: translate(-50%, -50%);
    animation: floor-fade 3.4s forwards;
}

@keyframes omori-fade {
    60% { opacity: 0%; }
    100% { opacity: 100%; }
}

.omori {
    font-size: 30px;
    font-family: 'OMORI_GAME';
    font-weight: bold;
    color: black;
    position: absolute;
    top: 160px;
    right: 30%;
    opacity: 0%;
    transform: translate(50%, -50%);
    text-align: center;
    animation: omori-fade 7s forwards;
}

/*
Black Space Area
*/

@keyframes bs-transform-text {
    25% { color: #000000; }
    100% { color: #ffffff; }
}

.wane-bs {
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    font-size: 120px;
    font-family: 'OMORI_GAME2';
    font-weight: bold;
    animation: bs-transform-text 4s forwards;
}

.omori-bs {
    font-size: 30px;
    font-family: 'OMORI_GAME';
    font-weight: bold;
    color: black;
    position: absolute;
    top: 160px;
    right: 30%;
    opacity: 0%;
    transform: translate(50%, -50%);
    text-align: center;
    animation: bs-transform-text 4s forwards;
}

@keyframes bs-transform-line {
    25% { background-color: #000000; }
    100% { background-color: #ffffff; }
}

.fancy-logo-line-bs {
    opacity: 100%;
    width: 55%;
    height: 3px;
    background-color: black;
    position: absolute;
    top: 214px;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: bs-transform-line 4s forwards;
}

@keyframes floor-bs-transform {
    60% { opacity: 0%; }
    100% { opacity: 100%; }
}

.floor-bs {
    width: 400px;
    height: auto;
    position: absolute;
    top: 700px;
    left: 49.5%;
    opacity: 0%;
    transform: translate(-50%, -50%);
    animation: floor-bs-transform 5s forwards;
}

.door-bs {
    animation: floating-text-transform 6s forwards;
}

.door {
    position: absolute;
    opacity: 0%;
}

.sd {
    top: 50%;
    left: 10%;
}

.vd {
    top: 76%;
    left: 26%;
}

.gd {
    top: 47%;
    left: 83%;
}

.nd {
    top: 79%;
    left: 66.5%;
}

.rd {
    top: 300px;
    left: 45%;
}

/*
Floating Text
*/

@keyframes floating-text-transform {
    30% { opacity: 0%; }
    100% { opacity: 100%; }
}

.floating-text {
    position: absolute;
    font-family: 'OMORI_GAME';
    font-weight: bold;
    font-size: 45px;
    transform: translateX(-50%);
    text-align: center;
}

@keyframes discord-transform {
    0% { top: 45%; }
    50% { top: 50%; }
    100% { top: 45%; }
}

.discord {
    top: 45%;
    left: 14%;
    transform: rotate(-15deg);
    animation: discord-transform 2.5s infinite, floating-text-transform 6s forwards;
}

.discord-highlight {
    font-size: 75px !important;
    color: cornflowerblue;
}

@keyframes email-transform {
    0% { top: 64%; }
    50% { top: 59%; }
    100% { top: 64%; }
}

.email {
    top: 64%;
    left: 65%;
    transform: rotate(15deg);
    animation: email-transform 3s infinite, floating-text-transform 6s forwards;
}

.email-highlight {
    font-size: 50px !important;
    color:chocolate;
}

@keyframes click-transform {
    0% { top: 357px; }
    50% { top: 367px; }
    100% { top: 357px; }
}

.click {
    top: 357px;
    left: 45%;
    font-size: 30px !important;
    animation: click-transform 2.7s infinite, floating-text-transform 6s forwards;
}

@keyframes soloto-transform {
    0% { top: 25%; }
    50% { top: 28%; }
    100% { top: 25%; }
}

.soloto {
    color: white !important;
    font-family: 'OMORI_GAME2';
    top: 25%;
    left: 10%;
    transform: rotate(9deg);
    animation: soloto-transform 2s infinite, floating-text-transform 6s forwards;
}

.soloto-highlight {
    font-size: 75px !important;
    color:aqua;
}

@keyframes velog-transform {
    0% { top: 55%; }
    50% { top: 53%; }
    100% { top: 55%; }
}

.velog {
    color: white !important;
    font-family: 'OMORI_GAME2';
    top: 55%;
    left: 24%;
    transform: rotate(-15deg);
    animation: velog-transform 2.6s infinite, floating-text-transform 6s forwards;
}

.velog-highlight {
    font-size: 75px !important;
    color:aquamarine;
}

@keyframes github-transform {
    0% { top: 27%; }
    50% { top: 29%; }
    100% { top: 27%; }
}

.github {
    color: white !important;
    font-family: 'OMORI_GAME2';
    top: 27%;
    left: 80%;
    transform: rotate(-7deg);
    animation: github-transform 3.4s infinite, floating-text-transform 6s forwards;
}

.github-highlight {
    font-size: 50px !important;
    color:rosybrown;
}

@keyframes notion-transform {
    0% { top: 60%; }
    50% { top: 58%; }
    100% { top: 60%; }
}

.notion {
    color: white !important;
    font-family: 'OMORI_GAME2';
    top: 60%;
    left: 65%;
    transform: rotate(-17deg);
    animation: notion-transform 3.1s infinite, floating-text-transform 6s forwards;
}

.notion-highlight {
    font-size: 63px !important;
    color:gray;
}