<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />
  <title>OMG WANE USES NO CSS??????</title>
  <script type="module"> 
    import init, { validate } from "{{ url_for('static', filename='pkg/neochall.js') }}";
    async function run() {
        await init();
        document.getElementById('submit').addEventListener('click', () => {
            const input = document.getElementById('flag').value;
            alert(validate(input));
        });
    }
    run();
  </script>
</head>
<body>
  <h1>Wane</h1>
  <ul>
    <li><a href="https://github.com/NeoMaster831">Github</a></li>
    <li><a href="https://blog.wane.im">Blog</a></li>
    <li><a href="https://triviaps.notion.site/MainPage-7e755459da5944f6af36c5dcb08f0639?pvs=4">Notion</a></li>
    <li><a href="https://parkjonghwi.tistory.com/">Tistory</a></li>
    <li><a href="https://velog.io/@wane">Velog</a></li>
    <li><a href="https://x.com/willington1337">X</a></li>
    <li><a href="https://solo.to/wane">solo.to</a></li>
  </ul>
  <h2>About Me</h2>
  <p>I love computer. I do computer. That's all.</p>
  <h3>Awards</h3>
  <ul>
    <li><p>2024 CCE - 1st place (2024)</p></li>
    <li><p>2024 KOSPO CTF - 1st place (2024)</p></li>
  </ul>
  <h2>Challenge</h3>
  <div class="chall-container">
    <input type="text" placeholder="Flag" id="flag" class="flag-input">
    <button type="submit" class="submit-button" id="submit" >Submit</button>
  </div>
</body>
</html>
